.developer {
  padding-top: 22px;
  padding-bottom: 22px;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $special-dark-gray;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;

    &:hover svg path,
    &:focus svg path {
      fill: $basic-green;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    &__link {
      & > * + * {
        margin-left: 22px;
      }
    }
  }
}
