.fieldset-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > * + * {
    margin-top: 14px;
    @media screen and (min-width: $tablet) {
      margin-top: 20px;
    }
  }
}
