.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}
