.metadata {
  background-color: $basic-gray;

  @mixin metadata-border {
    border-bottom: 1px solid #d9d9d9;
  }

  &__logo {
    outline: none;
    display: block;
    padding-top: 39px;
    padding-bottom: 32px;

    @include metadata-border;
    @extend .content-center;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__socials {
    padding-top: 20px;
    padding-bottom: 23px;
    padding-left: 77.5px;
    padding-right: 77.5px;
    margin: 0 auto;
    @include metadata-border;
  }

  @media screen and (min-width: $tablet) {

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 150px;
    }
    &__socials {
      flex-basis: 123px;
      padding: 0;
      border: none;
    }
    &__logo {
      display: block;
      padding: 0;
      border: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    &__socials {
      flex-basis: 130px;
      margin-top: -5px;
      padding-left: 10px;
    }
  }
}
