// Начните писать стили здесь
@import "reset.scss";


@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: local("Arial"), url("../fonts/Arial.woff2"), url("../fonts/Arial.woff");
  font-display: swap;
}

$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-gray: #f2f2f2;
$basic-gray-2: #ebebeb;
$special-gray: #cdcdcd;
$special-gray-2: #666666;
$special-dark-gray: #444444;
$special-dark-gray-2: #222222;
$side-padding-m: 20px;
$side-padding-t: 30px;
$side-padding-d: 110px;
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

@mixin unpadding($padding-inside: false) {
  margin-left: -#{$side-padding-m};
  margin-right: -#{$side-padding-m};

  @if $padding-inside {
    padding-left: #{$side-padding-m};
    padding-right: #{$side-padding-m};
  }

  @media (min-width: 768px) {
    margin-left: -#{$side-padding-t};
    margin-right: -#{$side-padding-t};

    @if $padding-inside {
      padding-left: #{$side-padding-t};
      padding-right: #{$side-padding-t};
    }
  }

  @media (min-width: 1440px) {
    margin-left: -#{$side-padding-d};
    margin-right: -#{$side-padding-d};

    @if $padding-inside {
      padding-left: #{$side-padding-d};
      padding-right: #{$side-padding-d};
    }
  }
}

@mixin border-bottom($color: $special-gray-2) {
  border-bottom: 1px solid $color;
}

.green-stripe {
  display: flex;

  &::after {
    content: "";
    align-self: center;
    margin-top: 7px;
    min-width: 53px;
    height: 2px;
    background-color: $basic-green;
    margin-right: $side-padding-m * -1;
    margin-left: 22px;
    flex-grow: 1;
  }

  @media screen and (min-width: $tablet) {
    &::before, &::after {
      margin-top: 12px;
    }
    &::after {
      margin-left: 35px;
      margin-right: -1 * $side-padding-t
    }
    &::before {
      content: "";
      align-self: center;
      width: 30px;
      height: 2px;
      background-color: $basic-green;
      margin-left: $side-padding-t * -1;
      margin-right: 38px;
    }
  }
  @media screen and (min-width: $desktop) {
    &::before, &::after {
      margin-top: 15px;
    }
    &::before {
      margin-left: -1 * $side-padding-d;
      margin-right: 40px;
      width: 70px;
    }
    &::after {
      margin-right: -1 * $side-padding-d;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  padding: 0 $side-padding-m;
  margin: 0 auto;
  min-width: $mobile;

  @media screen and (min-width: $tablet) {
    padding: 0 $side-padding-t;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 $side-padding-d;
  }
}

.title {
  font-size: 36px;
  font-weight: normal;
  @media screen and (min-width: $tablet) {
    font-size: 60px;
  }
}

.button {
  @extend .content-center;
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  padding: 12px 12px;
  margin: 0;
  border: none;
  text-align: center;
  background: $basic-green;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-family: inherit;

  &_small-text {
    font-size: 14px;
    line-height: 14px;
  }

  &:hover,
  &:focus {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba(white, 0.3);
  }

  &_show-all {
    background-color: $basic-gray;
    color: $special-dark-gray;

    &:hover,
    &:focus {
      background: $basic-gray-2;
    }

    &:active {
      color: rgba($special-dark-gray, 0.3);
    }
  }

  @media screen and (min-width: $tablet) {
    min-height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px;
  }

}

.text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-gray;
  font-weight: normal;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    color: black;
  }
}

.page {
  &__body {
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    color: black;
    font-family: "Oswald", "Arial", sans-serif;
    overflow-x: hidden;
  }
}

.page-header {
  @media (max-width: $tablet - 1px) {
    @include unpadding();
  }

  &_close {
    height: 66px;
    overflow: hidden;
  }

  &__static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;

    @extend .content-center;
    @include border-bottom(#E6E6E6);
  }

  &__img-logo,
  &__text-logo {

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__text-logo {
    margin-top: 5px;
    margin-left: -9px;
  }

  &__toggle {
    height: 18px;
    margin-top: 4px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0;
    @extend .content-center;

    span,
    span::before,
    span::after {
      width: 24px;
      height: 2px;
      background-color: black;
      position: relative;
      transition: all 0.2s;
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
      left: 0;
    }

    span::before {
      top: -8px;
    }

    span::after {
      bottom: -8px;
    }

    &_close {
      span {
        background-color: transparent;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &_index {
    @media screen and (min-width: $desktop) {
      position: relative;
      z-index: 2;
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 24px;
    min-height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: unset;
    overflow: unset;
    &__static {
      display: block;
      padding: 0;
      border: none;
      margin-right: 79px;
    }
    &__text-logo, &__toggle {
      display: none;
    }
    &__img-logo img {
      width: 174px;
      height: 52px;
      margin-bottom: 4px;
    }
    &__static {
      margin-right: 95px;
    }
    &__site-nav {
      flex-basis: 440px;
      flex-grow: 1;
      max-width: 500px;
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 48px;
    min-height: 107px;

    &__site-nav {
      max-width: 480px;
      margin-bottom: 0px;
      margin-right: 0px;
    }


    &__img-logo img {
      margin-top: 5px;
      width: 202px;
      height: 59px;
    }
  }
}

.site-nav {
  &__link {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    @extend .content-center;
    @include border-bottom(#E6E6E6);

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &_active {
      cursor: default;
      pointer-events: none;

      & span {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -7px;
          height: 2px;
          background-color: $basic-green;

        }
      }
    }
  }

  @media screen and (min-width: $tablet) {

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 0px;
    }
    &__link {
      margin: 0;
      padding: 0;
      border: none;
      padding-bottom: 14px;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;

      &_active span::after {
        bottom: -9px;
      }

    }
  }

  &_index {
    @media screen and (min-width: $desktop) {
      color: white;
      .site-nav__link_active {
        span::after {
          background-color: white;
        }
      }
    }
  }

  @media screen and (min-width: $desktop) {
    &__link {
      font-size: 20px;
      line-height: 30px;
    }

  }
}


.page-main_index {
  &__programs-list {
    margin-top: 22px;
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
      margin-top: 0;
      margin-bottom: 53px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 0;
      margin-bottom: 80px;
    }
  }

  &__select-program {
    @media screen and (max-width: $tablet - 1) {
      @include unpadding(true);
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 82px;
    }

  }

  &__how-it-works {
    margin-bottom: 42px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__before-after {
    @include unpadding(true);
  }
}

.select-program {
  background-color: white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  color: white;
  text-align: center;

  &__container {
    padding-top: 27px;
  }

  &__title {
    line-height: 36px;
    margin-bottom: 25px;
  }

  &__slogan {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 29px;
    text-transform: uppercase;
  }

  &__can-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-bottom: 3px;
  }

  @media screen and (min-width: $tablet) {
    background: none;
    color: black;
    &__container {
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
    &__title {
      line-height: 60px;
      margin-bottom: 40px;
      max-width: 414px;
      text-align: left;
      margin-left: 87px;
    }
    &__slogan {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
      margin-left: 87px;
    }
    &__can-img-container {
      width: 100%;
    }
    &__can-img {
      width: 100%;
      height: auto;
      max-width: 800px;

    }
    &__button {
      width: 244px;
      position: absolute;
      top: 290px;
      left: 82px;
    }
  }
  @media screen and (min-width: $desktop) {
    @include unpadding(true);
    min-height: 696px;
    position: relative;
    z-index: 1;
    margin-top: -117px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 720px 696px;
    &__container {
      padding-top: 224px;
      position: relative;
      padding-left: 80px;
    }
    &__can-img {
      position: absolute;
      top: 141px;
      right: 220px;
      width: 552px;
      height: 499px;
    }
    &__button {
      position: static;
    }

    &__title {
      margin-left: 0;
      margin-bottom: 39px;
    }
    &__slogan {
      margin: 0;
      margin-bottom: 52px;
    }
  }
}


.programs-list {
  &__container {
    display: flex;
    flex-wrap: wrap;

    & > * + * {
      margin-top: 20px;
    }
  }

  &__item {

    background-color: $basic-gray;
    padding-top: 21px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    background-repeat: no-repeat;
    background-origin: content-box;
    flex-grow: 1;

    &_lose-weight {
      background-image: url("../img/lose-weight_bg.svg");
    }

    &_get-fat {
      background-image: url("../img/get-fat_bg.svg");
      background-origin: padding-box;
      background-position: 13px 25px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 30px;
    margin-left: 69px;
    margin-top: 8px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 23px;
  }

  &__link {
    display: block;
    border-top: 1px solid #d9d9d9;
    padding-top: 16px;
    font-size: 16px;
    line-height: 16px;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition-duration: 0.3s;

    & span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: (calc(50% - 5px));
        right: -43px;
        width: 32px;
        height: 10px;
        background: url("../img/icon-right-arrow-long.svg") left center no-repeat;
        transition-duration: 0.3s;
      }
    }

    &:hover,
    &:focus {
      & span::after {
        background: url("../img/icon-right-arrow-verylong.svg") left center no-repeat;
      }
    }

    &:active {
      opacity: 0.3;

      & span::after {
        background: url("../img/icon-right-arrow-verylong.svg") left center no-repeat;
      }
    }
  }


  @media screen and (min-width: $tablet) {
    &__container {
      display: flex;
      flex-wrap: wrap;

      & > * + * {
        margin-top: 30px;
      }
    }
    &__title {
      font-size: 36px;
      line-height: 36px;
      margin: 0;
      margin-bottom: 24px;
    }
    &__text {
      max-width: 59%;
      margin-bottom: auto;
    }
    &__link {
      & span::after {
        top: (calc(50% - 7px));
        right: -60px;
        width: 34px;
        height: 10px;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      background-color: $basic-gray;
      padding-left: 52px;
      padding-bottom: 60px;
      padding-top: 77px;
      background-repeat: no-repeat;
      background-origin: content-box;
      flex-grow: 1;
      min-height: 372px;

      &_lose-weight {
        background-image: url("../img/lose-weight_bg.svg");
        background-origin: content-box;
        padding-right: 62px;
        background-size: 200px 211px;
        background-position: top 2px right;
      }

      &_get-fat {
        background-image: url("../img/get-fat_bg.svg");
        background-origin: content-box;
        background-size: 268px 200px;
        padding-right: 28px;
        background-position: top 15px right 2px;
      }

    }
    &__link {
      padding: 0;
      border: none;
      display: inline-block;
      font-size: 20px;
      line-height: 20px;
    }
  }
  @media screen and (min-width: $desktop) {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      & > * + * {
        margin: 0;
        margin-left: 80px;
      }
    }
    &__title {
      margin-left: 162px;
      margin-top: 36px;
      margin-bottom: 73px;
    }
    &__item {
      width: calc(50% - 40px);
      padding: 41px 52px 65px 52px;
      min-height: 374px;

      &_lose-weight {
        background-origin: content-box;
        background-size: 100px 106px;
        background-position: top left;
      }

      &_get-fat {
        background-origin: padding-box;
        background-size: 134px 100px;
        background-position: 33px 47px;
      }

    }
    &__text {
      max-width: 100%;
      margin-bottom: auto;
    }
  }
}


.how-it-works {


  &__title {
    line-height: 40px;
    margin-bottom: 38px;
  }

  &__item {
    grid-column: 1/-1;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    padding-left: 80px;
    background-origin: padding-box;

    &:nth-of-type(1) {
      background-image: url("../img/advantage-leaf.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%);
      background-repeat: no-repeat, no-repeat;
      background-position: 15px 13.5px, left top;
      background-size: 30px 32px, 60px 60px;
    }

    &:nth-of-type(2) {
      background-image: url("../img/advantage-powder.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%);
      background-repeat: no-repeat, no-repeat;
      background-position: 15px 13px, left top;
      background-size: 29px 31px, 60px 60px;
    }

    &:nth-of-type(3) {
      background-image: url("../img/advantage-dining.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%);
      background-repeat: no-repeat, no-repeat;
      background-position: 17px 15px, left top;
      background-size: 23px 30px, 60px 60px;
    }

    &:nth-of-type(4) {
      background-image: url("../img/advantage-clock.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%);
      background-repeat: no-repeat, no-repeat;
      background-position: 17px 15px, left top;
      background-size: 25px 30px, 60px 60px;
    }
  }

  &__text {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $tablet) {
    @include unpadding(true);
    @include border-bottom(#e6e6e6);
    padding-bottom: 59px;
    &__title {
      margin-bottom: 83px;
    }
    &__list {
      grid-row-gap: 90px;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
    }
    &__text {
      max-width: 75%;
      color: $special-dark-gray;
    }
    &__item {
      grid-column: auto / span 2;
      min-width: 247px;
      height: 227px;
      padding: 0;

      &:not(:last-of-type) {
        margin-bottom: 0;
      }

      &:nth-of-type(1) {
        background-image: url("../img/advantage-leaf.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%), url("data:image/svg+xml,%3Csvg width='71' height='227' viewBox='0 0 71 227' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.3722 227V39.4C40.1855 39.5867 38.0389 40.1467 33.9322 41.08C30.0122 42.0133 25.5322 42.9467 20.4922 43.88C15.4522 44.8133 10.9722 45.6533 7.05219 46.4C3.13219 47.1467 1.07885 47.52 0.892188 47.52V24.84C4.06552 24.0933 7.70552 23.0667 11.8122 21.76C16.1055 20.4533 20.3989 18.8667 24.6922 17C29.1722 15.1333 33.3722 12.8 37.2922 9.99999C41.3989 7.19999 44.8522 3.93332 47.6522 0.199983H70.3322V227H40.3722Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");;
        background-repeat: no-repeat;
        background-position: 24px 25px, left top, 125px top;
        background-size: 30px 32px, 80px 80px, 71px 227px;
      }

      &:nth-of-type(2) {
        background-image: url("../img/advantage-powder.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%), url("data:image/svg+xml,%3Csvg width='113' height='229' viewBox='0 0 113 229' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.624532 229V207.72L58.3045 117.84C62.5979 111.12 66.5179 104.867 70.0645 99.08C73.7979 93.2933 76.7845 87.2267 79.0245 80.88C81.4512 74.3467 82.6645 66.88 82.6645 58.48C82.6645 48.0267 80.9845 39.8133 77.6245 33.84C74.2645 27.8667 68.3845 24.88 59.9845 24.88C52.8912 24.88 47.3845 26.84 43.4645 30.76C39.5445 34.68 36.8379 39.8133 35.3445 46.16C33.8512 52.5067 33.1045 59.32 33.1045 66.6V74.16H3.14453V66.32C3.14453 52.6933 4.91787 41.0267 8.46453 31.32C12.1979 21.4267 18.0779 13.7733 26.1045 8.35999C34.3179 2.94666 45.1445 0.239991 58.5845 0.239991C76.8779 0.239991 90.5045 5.46666 99.4645 15.92C108.425 26.1867 112.905 40.4667 112.905 58.76C112.905 68.4667 111.691 76.96 109.265 84.24C107.025 91.52 104.038 98.3333 100.305 104.68C96.5712 111.027 92.4645 117.56 87.9845 124.28L35.9045 203.8H107.585V229H0.624532Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 25px 24px, left top, 122px top;
        background-size: 29px 31px, 80px 80px, 113px 229px;
      }

      &:nth-of-type(3) {
        background-image: url("../img/advantage-dining.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%), url("data:image/svg+xml,%3Csvg width='112' height='232' viewBox='0 0 112 232' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55.9213 231.52C43.6013 231.52 33.3346 229.187 25.1213 224.52C16.9079 219.853 10.7479 213.133 6.64125 204.36C2.53458 195.587 0.481251 185.227 0.481251 173.28V165.72H30.1613C30.1613 166.467 30.1613 167.307 30.1613 168.24C30.1613 168.987 30.1613 169.827 30.1613 170.76C30.3479 177.48 31.0946 183.547 32.4013 188.96C33.8946 194.373 36.4146 198.667 39.9613 201.84C43.6946 205.013 49.0146 206.6 55.9213 206.6C63.2013 206.6 68.7079 204.92 72.4413 201.56C76.1746 198.013 78.6946 193.067 80.0013 186.72C81.3079 180.373 81.9613 173.093 81.9613 164.88C81.9613 152.933 79.7213 143.227 75.2413 135.76C70.9479 128.107 63.2946 123.907 52.2813 123.16C51.7213 122.973 50.9746 122.88 50.0413 122.88C49.2946 122.88 48.6413 122.88 48.0813 122.88V92.92C48.6413 92.92 49.2946 92.92 50.0413 92.92C50.7879 92.92 51.4413 92.92 52.0013 92.92C62.6413 92.5467 70.2946 89.7467 74.9613 84.52C79.6279 79.2933 81.9613 70.6133 81.9613 58.48C81.9613 48.2133 80.1879 40 76.6413 33.84C73.2813 27.68 66.4679 24.6 56.2013 24.6C45.9346 24.6 39.1213 28.0533 35.7613 34.96C32.4013 41.68 30.5346 50.36 30.1613 61C30.1613 61.7467 30.1613 62.5867 30.1613 63.52C30.1613 64.2667 30.1613 65.0133 30.1613 65.76H0.481251V58.2C0.481251 46.0667 2.53458 35.7067 6.64125 27.12C10.7479 18.5333 16.9079 11.9067 25.1213 7.23998C33.5213 2.57332 43.8813 0.239991 56.2013 0.239991C68.7079 0.239991 79.0679 2.57332 87.2813 7.23998C95.4946 11.9067 101.655 18.6267 105.761 27.4C109.868 35.9867 111.921 46.3467 111.921 58.48C111.921 72.1067 108.935 83.0267 102.961 91.24C97.1746 99.4533 89.3346 105.053 79.4413 108.04C86.3479 110.093 92.1346 113.64 96.8013 118.68C101.655 123.72 105.388 130.16 108.001 138C110.615 145.653 111.921 154.613 111.921 164.88C111.921 178.32 110.055 190.08 106.321 200.16C102.588 210.053 96.6146 217.8 88.4013 223.4C80.1879 228.813 69.3613 231.52 55.9213 231.52Z' fill='%23F2F2F2'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 28px 25px, left top, 125px top;
        background-size: 23px 30px, 80px 80px, 112px 232px;
      }

      &:nth-of-type(4) {
        background-image: url("../img/advantage-clock.svg"), linear-gradient(to right, $basic-green 0%, $basic-green 100%), url("data:image/svg+xml,%3Csvg width='121' height='227' viewBox='0 0 121 227' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.3242 227V166.24H0.52422V134.88L59.6042 0.199983H94.8842V139.64H120.364V166.24H94.8842V227H66.3242ZM29.3642 139.64H66.3242V36.6L29.3642 139.64Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat, no-repeat;
        background-position: 27.5px 24px, left top, 123px top;
        background-size: 25px 30px, 80px 80px, 121px 227px;
      }

    }
    &__text {
      margin: 0;
      margin-top: 111px;
    }
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
    border: none;
    &__title {
      margin-bottom: 82px;
    }
    &__item {
      grid-column: auto / span 1;

      &:nth-of-type(2) {
        margin-left: -2px;
      }

      &:nth-of-type(3) {
        margin-left: -2.5px;
      }

      &:nth-of-type(4) {
        margin-left: -2px;
      }
    }
    &__text {
      max-width: 100%;
      margin-right: 0;
    }
  }
}

.before-after {
  background-color: #eaeaea;
  padding-top: 28px;
  padding-bottom: 35px;

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__items-highlighted {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  &__item-highlighted {
    box-sizing: border-box;
    border: 1px solid $special-gray;
    border-radius: 3px;
    flex-basis: 124px;
    min-height: 56px;
    position: relative;

    @extend .content-center;
  }

  &__item-value {
    font-size: 24px;
    line-height: 24px;
  }

  &__item-title {
    position: absolute;
    top: 45px;
    background-color: #eaeaea;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: $special-dark-gray;
    text-transform: lowercase;

    @extend .content-center;
    width: 87px;
    padding: 0 7px;
  }

  &__goal-price {
    @extend .content-center;
    flex-direction: row-reverse;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 35px;
    text-transform: uppercase;
    gap: 4px;
  }

  &__img-container {
    margin: 0 -20px;
    min-height: 240px;
    margin-bottom: 30px;
  }

  &__slide {
    display: none;
    opacity: 0%;
    transition-duration: 0.4s;
    object-fit: contain;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 400px;

    &_active {
      display: block;
      opacity: 100%;
    }
  }

  &__toggles {
    margin: 0 auto;
    @extend .content-center;

    & > * + * {
      margin-left: 12px;
    }
  }

  &__toggle {
    font-family: inherit;
    color: black;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: none;
    border: none;
    opacity: 30%;
    transition-duration: 0.3s;

    &_active {
      opacity: 100%;
      pointer-events: none;
      cursor: default;
    }
  }

  &__slider-stripe {
    box-sizing: border-box;
    width: 84px;
    height: 14px;
    border: 1px solid $special-gray;
    border-radius: 6px;
    background-color: white;
    padding: 3px 5px;
  }

  &__slider-inner-stripe {
    width: 35px;
    height: 6px;
    background: $basic-green;
    border-radius: 6px;
    transition-duration: 0.4s;

    &_active {
      margin-left: auto;
    }
  }

  @media screen and (min-width: $tablet) {
    background: none;
    padding-top: 0;
    padding-bottom: 64px;
    background-image: linear-gradient(to bottom, white 0%, white 55.5%, #EAEAEA 55.5%, #EAEAEA 100%);
    &__title {
      margin-bottom: 65px;
    }
    &__text {
      margin-bottom: 54px;
      color: $special-dark-gray;
    }
    &__statistic {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
    }
    &__items-highlighted {
      width: 400px;
      margin: 0;
      justify-content: flex-start;

      & > * + * {
        margin-left: 42px;
      }
    }
    &__goal-price {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      font-size: 20px;
      line-height: 26px;
      margin: 0;
    }
    &__item-highlighted {
      box-sizing: border-box;
      flex-basis: 162px;
      min-height: 73px;
    }
    &__item-value {
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 5px;
    }
    &__item-title {
      font-size: 14px;
      line-height: 14px;
      top: 62px;
      width: auto;
      background-color: white;
      padding: 0 7px;
    }
    &__img-container {
      position: relative;
      max-width: 708px;
      min-height: 517px;
      margin: 0;
      margin: 0 auto;
      margin-bottom: 24px;
      padding: 0;
    }
    &__slide {
      display: block;
      opacity: 100%;
      position: absolute;
      object-fit: cover;
      height: 100%;
      top: 0;

      &_before {
        left: 20px;
        object-position: left center;
        width: calc(50% - 20px);
      }

      &_after {
        right: 0;
        object-position: right center;
        width: 50%;
      }
    }
    &__toggles {
      & > * + * {
        margin-left: 24px;
      }
    }
    &__toggle {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
      padding-bottom: 6px;
      border-bottom: 1px dotted $special-gray;
      opacity: 100%;
      transition-duration: 0.3s;
      cursor: unset;
      pointer-events: unset;

      &:hover, &:focus {
        border-bottom: 1px solid $special-gray-2;
      }

      &:active {
        padding-bottom: 7px;
        border: none;
      }
    }

    &__slider-stripe {
      box-sizing: border-box;
      width: 428px;
      height: 6px;
      border: none;
      border-radius: 6px;
      background-color: #dcdcdc;
      padding: 3px 5px;
      position: relative;
      margin-bottom: 5px;
    }

    &__slider-inner-stripe {
      position: absolute;
      top: -14px;
      left: calc(50% - 17px);
      width: 34px;
      height: 34px;
      padding: 12px;
      background: none;
      background-image: radial-gradient($basic-green 0%, $basic-green 25%, white 26%, white 100%);
      border: 1px solid $special-gray;
      background-origin: border-box;
      background-clip: border-box;
      border-radius: 50%;
      transition: all 0.4s;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);

      &:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
      }

      &:active {
        border-color: $basic-green;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
      }
    }

  }
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(to top, $basic-gray 0%, $basic-gray 68%, white 68%, white 100%);
    padding-top: 25px;
    padding-bottom: 67px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);


    &__title {
      margin-top: 57px;
      margin-bottom: 146px;
      padding: 0;
    }
    &__text {
      margin-bottom: 67px;
      max-width: 436px;
    }
    &__title, &__text, &__statistic {
      grid-column: 1/2;

    }
    &__slider {
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      justify-self: end;
    }

    &__statistic {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 0;
    }
    &__items-highlighted {
      & > * + * {
        margin-left: 42px;
      }

      margin-bottom: 55px;
    }
    &__item-title {
      background-color: $basic-gray;
    }
    &__goal-price {
      flex-direction: row-reverse;
      gap: 0;
      text-align: left;
      justify-content: flex-end;
      margin-bottom: 8px;

      & > * + * {
        margin-right: 63px;
      }
    }
    &__img-container {
      min-width: 708px;
      margin-bottom: 45px;
      margin-right: -20px;
    }
    &__slide {
      &_before {
        left: 40px;
        width: 53%;
      }

      &_after {
        right: -24px;
        width: 47%;
      }
    }
    &__toggles {
      max-width: 576.5px;
      /*margin-left: auto;*/
      margin-right: 0px;
    }
  }
}


.page-footer {
  &__map {
    @include unpadding();
  }

  @media screen and (min-width: $desktop) {
    position: relative;
  }

  &__metadata {
    @include unpadding(true);
  }

  &__partnership {
    @media screen and (max-width: $desktop - 1) {
      @include unpadding(true);
    }
    @media screen and (min-width: $desktop) {
      position: absolute;
      top: 95px;
      left: 0px;
    }
  }
}

.partnership {
  color: #111111;
  min-height: 114px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;


  &__title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    width: 50%;
  }

  &__address {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $special-dark-gray;
    width: 50%;

    br {
      display: none;
    }


  }

  &_inner-page {
    background-color: $basic-gray;
    @media screen and (max-width: $tablet - 1) {
      padding-top: 28px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
    padding-left: 71px;
    padding-right: 71px;
  }
  @media screen and (min-width: $tablet) {
    min-height: 201px;
    padding-top: 49px;
    padding-bottom: 41px;
    align-items: center;
    &__title {
      font-size: 20px;
      line-height: 25px;
      margin: 0;
      max-width: 171px;
    }
    &__address {
      font-family: "Arial", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: $special-dark-gray;
      text-align: right;
      display: flex;
      justify-content: flex-end;

      br {
        display: unset;
      }

    }
  }
  @media screen and (min-width: $desktop) {
    width: 570px;
    min-height: 201px;
    background-color: white;
    padding: 66px 89px 51px 76px;
    &__title {
      align-self: flex-start;
    }
    &__address {
      text-align: left;
      margin-top: -12px;
    }
  }
}

.map {
  &__y-map {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 362px;
    background: url("../img/bg-map-mobile@1x.png") no-repeat;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-map-mobile@2x.png");
    }
  }

  @media screen and (min-width: $tablet) {
    &__y-map {
      height: 400px;
      background: url("../img/bg-map-tablet@1x.png") no-repeat;
      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-map-tablet@2x.png");
      }
    }
  }

  @media screen and (min-width: $desktop) {
    &__y-map {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.metadata {
  background-color: $basic-gray;

  @mixin metadata-border {
    border-bottom: 1px solid #d9d9d9;
  }

  &__logo {
    outline: none;
    display: block;
    padding-top: 39px;
    padding-bottom: 32px;

    @include metadata-border;
    @extend .content-center;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__socials {
    padding-top: 20px;
    padding-bottom: 23px;
    padding-left: 77.5px;
    padding-right: 77.5px;
    margin: 0 auto;
    @include metadata-border;
  }

  @media screen and (min-width: $tablet) {

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 150px;
    }
    &__socials {
      flex-basis: 123px;
      padding: 0;
      border: none;
    }
    &__logo {
      display: block;
      padding: 0;
      border: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    &__socials {
      flex-basis: 130px;
      margin-top: -5px;
      padding-left: 10px;
    }
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    display: block;
    width: 25px;
    @extend .content-center;
    background-repeat: no-repeat;
    background-position: center;

    &:active svg {
      opacity: 0.3;
    }

    &_vk {
      &:hover svg path,
      &:focus svg path {
        fill: $basic-green;
      }
    }

    &_inst {

      &:hover svg path,
      &:focus svg path {
        fill: $basic-green;
      }
    }

    &_fb {

      /*margin-left: -18px;*/
      &:hover svg path,
      &:focus svg path {
        fill: none;
        stroke: $basic-green;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    &__link {
      svg {
        width: 100%;
        height: 100%;
      }

      &_vk {
        width: 30px;
        height: 22px;
      }

      &_inst {
        width: 23px;
        height: 23px;
      }

      &_fb {
        width: 13px;
        height: 27px;
      }
    }
  }
}

.developer {
  padding-top: 22px;
  padding-bottom: 22px;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $special-dark-gray;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;

    &:hover svg path,
    &:focus svg path {
      fill: $basic-green;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    &__link {
      & > * + * {
        margin-left: 22px;
      }
    }
  }
}

//catalog

.catalog {
  padding-top: 27px;
  padding-bottom: 35px;
  display: block;

  &__title {
    line-height: 36px;
    padding-bottom: 40px;
    border-bottom: 1px solid $basic-gray-2;
    @media screen and (max-width: $tablet - 1) {
      @include unpadding(true);
    }
  }

  &__products {
    margin-bottom: 28px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 68px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 76px;
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 75px;
    &__title {
      line-height: 60px;
      margin-bottom: 83px;
      border: none;
      padding: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 72px;
    padding-bottom: 86px;
  }
}

.products {

  &__product {
    grid-column: 1/-1;
    @media screen and (min-width: $tablet) {
      grid-column: auto / span 2;
    }
    @media screen and (min-width: $desktop) {
      grid-column: auto / span 1;
    }
  }

  &__list {
    @media (min-width: $tablet) {
      grid-row-gap: 59px;
    }
    @media screen and (min-width: $desktop) {
      grid-row-gap: 63px;
    }

  }

}

.product {

  padding-bottom: 24px;
  padding-top: 20px;

  @media screen and (max-width: $tablet - 1) {
    @include border-bottom($special-gray);
  }
  @media screen and (max-width: $tablet - 1) {
    @include unpadding(true);
  }

  display: grid;
  grid-template-areas: "img title"
    "img desc"
    "btn btn";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;

  &__title {
    grid-area: title;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: $special-dark-gray-2;

    &_show-all {
      margin-bottom: 8px;
    }
  }

  &__features {
    grid-area: desc;
    align-self: end;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    & dt,
    & dd {
      flex-basis: 50%;
      flex-grow: 1;
    }

    & dt {
      text-align: right;
    }
  }

  &__image {
    grid-area: img;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: -16px;
    margin-bottom: -16px;
    width: 100%;
    max-width: 212px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__button {
    margin-top: 12px;
    grid-area: btn;

    &_show-all {
      margin-top: 21px;
    }
  }

  &_show-all {
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
    grid-auto-flow: row;
    justify-items: center;
    background-image: url("../img/icon-plus-mobile.svg");
    background-position: center 26px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 79px;
    display: grid;
  }

  &__text {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: $special-dark-gray;
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(to top, $basic-gray 0%, $basic-gray 84.1%, white 84.1%, white 100%);
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    display: grid;
    grid-template-areas:
    "img img"
    "title title"
    "desc desc"
    "btn btn";
    grid-template-rows: 234px min-content 1fr min-content;
    &__text {
      font-size: 16px;
      line-height: 18px;
    }
    &__button {
      min-height: 39px;
      font-size: 16px;
      line-height: 20px;
      padding: 9px;
      margin: 0;
      margin-left: 39px;
      margin-right: 37px;
      width: auto;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: 10px;
      max-width: 136px;
      justify-self: center;

      & br {
        display: none;
      }
    }
    &__features {
      margin-top: 11px;
      margin-bottom: 30.5px;
      margin-left: 36.5px;
      margin-right: 36.5px;
      font-size: 16px;
      line-height: 16px;

      & > * {
        padding-top: 9px;
        padding-bottom: 7px;
        border-bottom: 1px solid $special-gray;
      }
    }
    &__image {
      margin: 0 -36px;
      width: 100%;
      max-width: 350px;
      justify-self: center;
      align-self: end;
      margin-bottom: 22px;

      img {
        width: 100%;
        height: auto;
        max-width: none;
        margin: 0 auto;
      }
    }
    &_show-all {
      border: 2px solid $basic-gray;
      background-image: url("../img/icon-plus-mobile.svg");
      background-position: center 52px;
      background-repeat: no-repeat;
      background-size: 60px;
      height: 430px;
      align-self: end;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 157px;
      padding-bottom: 35px;

      .product__title {
        margin: 0 auto;
        margin-bottom: 23px;

      }

      .product__text {
        max-width: 167px;
        margin: 0 auto;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    &__title {
      line-height: 22px;

      &_show-all {
        margin-bottom: 24px;
      }
    }
    &__features {
      margin-top: 14px;
    }
    &_show-all {
      padding-top: 160px;
    }
  }
}

.products-additional {

  &__container {
    @media screen and (max-width: $desktop - 1) {
      display: block;
    }
    @media screen and (min-width: $desktop) {
      display: grid
    }
  }

  &__title {
    font-size: 24px;
    line-height: 24px;
    @extend .green-stripe;
    @media screen and (max-width: $tablet - 1) {
      padding-bottom: 34px;
      @include border-bottom($special-gray);
    }

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 80px;

    }
    @media screen and (min-width: $desktop) {
      margin-left: 0;
      margin-bottom: 82px;
    }
  }

  &__list {
    margin-bottom: 35px;
    @media screen and (max-width: $tablet - 1) {
      @include unpadding(true);
    }

    @media screen and (min-width: $tablet) {
      gap: 0;
      border: 1px solid $special-gray;
      border-bottom: none;
      margin-bottom: 69px;
    }

    @media screen and (min-width: $desktop) {
      grid-column: 1 / 4;
      border: none;
      border-top: 1px solid $special-gray;
      margin: 0;
      padding: 0;
    }
  }

  &__promo {
    @media screen and (min-width: $desktop) {
      grid-column: 4 / 5;
    }
  }
}

.product-additional {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
  padding-top: 11px;

  grid-template-areas: "title title"
                       "desc desc"
                        "btn btn";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;

  &__title {
    grid-area: title;
    margin-bottom: 12px;
  }

  &__features {
    grid-area: desc;
    align-self: center;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }

  &__button {
    grid-area: btn;
    margin-top: 14px;
  }

  @media screen and (min-width: $tablet) {
    grid-column: 1 / -1;
    border-bottom: 1px solid $special-gray;
    background: none;
    padding: 24px 38px 28px;
    display: grid;
    grid-row-gap: 23px;
    grid-template-areas: "title desc"
                          "btn btn";
    grid-template-columns: 1fr 230px;
    grid-template-rows: 1fr min-content;
    min-height: 138px;
    &__title {
      justify-self: start;
      align-self: start;
      margin: 0;
    }
    &__features {
      align-self: end;
      margin: 0;

      > * {
        border: none;
        padding: 0;
      }

      & dd {
        flex-basis: 58%;
        flex-grow: 1;
        text-align: right;
      }

      & dt {
        flex-basis: 42%;
        flex-grow: 1;
      }
    }
    &__button {
      margin: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    min-height: 72px;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    &__title {
      margin-right: auto;
      align-self: center;
    }
    &__features {
      margin-right: 40px;
      flex-basis: 290px;
      align-self: center;
      padding-top: 10px;
      padding-left: 4px;

      & > dd {
        text-align: left;
      }
    }
    &__button {
      flex-basis: 245px;
    }
  }
}

.promo {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
  width: 100%;
  min-height: 289px;
  background-color: $basic-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  &__icon {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 78px;
    height: 80px;
    align-self: start;
    margin-top: 58px;
  }

  &__text {
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: end;
    margin-bottom: 43px;
  }

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
    min-height: 200px;
    &__icon {
      grid-column: 1 / 2;
      margin: 0;
      align-self: center;
      justify-self: start;
      margin-left: 78px;
    }
    &__text {
      grid-column: 2 / 3;
      text-align: left;
      align-self: center;
      justify-self: start;
      margin: 0;
      margin-left: 70px;
      grid-row: 1/-1;
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
    height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
      padding: 0;
      text-align: center;
      margin: 0;
      margin-top: 46px;
      margin-bottom: -17px;
    }
    &__icon {
      margin-left: 0;
    }
  }
}


// form
.page-main_form {
  padding-top: 27px;
  padding-bottom: 32px;

  &__title {
    margin-bottom: 37px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 39px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 72px;

    &__title {
      margin-bottom: 55px;
    }

    &__subtitle {
      margin-bottom: 66px;
      font-size: 20px;
      line-height: 30px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 70px;
    padding-bottom: 84px;
    &__title {
      margin-bottom: 58px;
    }
    &__subtitle {
      margin-bottom: 65px;
      margin-left: 0;
      margin-right: 0;
    }
  }

}


.select-program-form {
  &__fieldset-title {
    font-size: 24px;
    line-height: 26px;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__cat-info, &__program-select {
    grid-column: 1/-1;
  }

  &__cat-info {
    @media screen and (max-width: $tablet - 1) {
      @include unpadding(true);
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 50px;
      margin-left: 40px;
      margin-right: 40px;
    }
    @media screen and (min-width: $desktop) {
      grid-column: 1 / 3;
      margin-left: 0;
      margin-right: 0;
    }


  }

  &__program-select {
    margin-bottom: 26px;

    @media screen and (max-width: $tablet - 1) {
      @include unpadding(true);
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 73px;
      margin-left: 40px;
      margin-right: 37px;
    }
    @media screen and (min-width: $desktop) {
      grid-column: 3 / 5;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 69px;
    }
  }

  &__owner-info {
    grid-column: 1/-1;
    margin-bottom: 27px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 65px;
      margin-left: 40px;
      margin-right: 35px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 68px;
    }
  }

  &__comment {
    grid-column: 1/-1;
    margin-bottom: 27px;

    @media screen and (min-width: $tablet) {
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 65px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__additional {
    grid-column: 1/-1;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 54px
    }
    @media screen and (min-width: $desktop) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 64px;
    }
  }

  &__button {
    grid-column: 1/-1;
    margin-bottom: 21px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      margin-left: 41px;
      grid-column: 1 / 3;
      max-width: 282px;
      padding-top: 16px;
      padding-bottom: 16px;
      min-height: 52px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 0;
      grid-column: 1 / 3;
      max-width: none;
    }
  }

  &__required-notify {
    grid-column: 1/-1;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;

    @media screen and (min-width: $tablet) {
      text-align: left;
      font-size: 16px;
      line-height: 16px;
      grid-column: 3 / 5;
      align-self: center;
    }
  }
}

.cat-info-fieldset {
  padding-bottom: 24px;
  @media screen and (max-width: $tablet - 1) {
    @include border-bottom(#D9D9D9);
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }

}

.fieldset-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > * + * {
    margin-top: 14px;
    @media screen and (min-width: $tablet) {
      margin-top: 20px;
    }
  }
}

.program-select-fieldset {
  @media screen and (max-width: $tablet - 1) {
    @include border-bottom(#D9D9D9);
    padding-top: 18px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    border: 1px solid #E7E7E7;
    padding: 24px 27px;
  }
  @media screen and (min-width: $tablet) {
    &__list {
      & > * + * {
        margin-top: 13px;
      }
    }
  }

}

.owner-info-fieldset {
  &__title {
    @extend .green-stripe;

    &::after {
      min-width: 99px;
      margin-left: 15px;
      align-self: start;
      margin-top: 16px;

    }

    @media screen and (min-width: $tablet) {
      &::before, &::after {
        align-self: center;
        margin-top: 10px;
      }
      &::before {
        margin-right: 40px;
      }
      &::after {
        margin-left: 42px;
      }
    }
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
      margin: 0 -40px;
      margin-bottom: 76px;

    }
    @media screen and (min-width: $desktop) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;

      & > * + * {
        margin: 0;
      }
    }
  }
}

.comment-fieldset {
  &__title {
    margin-bottom: 34px;
    @extend .green-stripe;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      margin: 0 -40px;
      &::before, &::after {
        align-self: center;
        margin-top: 10px;
      }
      &::before {
        margin-right: 40px;
      }
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 76px;

    }
  }
}

.additional-fieldset {
  &__title {
    margin-bottom: 34px;
    @extend .green-stripe;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
      margin: 0 -40px;
      &::before, &::after {
        align-self: center;
        margin-top: 10px;
      }
      &::before {
        margin-right: 40px;
      }
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 57px;
    }

  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-row-gap: 13px;
    grid-column-gap: 15px;
    @media screen and (min-width: $tablet) {

      grid-row-gap: 32px;
      grid-column-gap: 60px;
    }
    @media screen and (min-width: $desktop) {
      grid-column-gap: 80px;
    }
  }

}


.input-field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-gray;
  position: relative;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  & > * + * {
    margin-left: 14px;
    @media screen and (min-width: $tablet) {
      margin-left: 16px;
    }
  }

  &__icon {
    path {
      stroke: #FF8282;
    }
  }

  &__email {
    position: absolute;
    right: 15px;
    @media screen and (min-width: $tablet) {
      right: 19px;
    }
  }

  &__phone {
    position: absolute;
    right: 13px;
    @media screen and (min-width: $tablet) {
      right: 17px;
    }
  }

  &_text-input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 18px;
      color: $special-dark-gray;
      flex-grow: 1;
      border: 1px solid #E7E7E7;
      border-radius: 0;
      height: 45px;
      padding: 0;
      padding-left: 14px;
      padding-right: 14px;
      -moz-appearance: textfield;

      &:hover {
        border: 1px solid $special-gray;
      }

      &:focus {
        border: 2px solid #444444;
      }

      &:invalid {
        border: 2px solid #FF8282;

        .input-field__icon {

        }


      }

      &::placeholder {
        text-transform: uppercase;
        font: inherit;
        line-height: 43px;
        color: $special-dark-gray;
        margin: 0;
        padding: 0;
      }


      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &_has-icon {
      input {
        padding-right: 35px;
      }
    }

    @media screen and (min-width: $tablet) {
      input {
        font-size: 20px;
        line-height: 30px;
        height: 52px;
        padding-left: 17px;
        padding-right: 17px;

        &::placeholder {
          line-height: 50px;
        }
      }

      &_has-icon {
        input {
          padding-right: 40px;
        }
      }
    }
  }

  &_radio {
    color: $special-dark-gray-2;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
    transition-duration: 0.4s;

    @media screen and (min-width: $tablet) {
      padding-left: 45px;
      height: 40px;
    }

    &:hover, &:focus {
      .input-field_radio__text::before {
        border-color: #BABABA;
      }
    }

    &:active {
      opacity: 0.3;
    }

    &__text::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $special-gray;
      padding: 10px;
      background-origin: content-box;
      background-clip: content-box;
      left: 0;
      top: 0;
      transition: background-color 0.4s;

      @media screen and (min-width: $tablet) {
        width: 40px;
        height: 40px;
      }
    }


    input:checked + &__text::before {
      background-color: $basic-green;

    }
  }

  &_text-area {
    & textarea {
      width: 100%;
      border: 1px solid #E7E7E7;
      padding: 12px;
      resize: none;
      overflow: auto;
      min-height: 150px;
      font-family: inherit;

      @media screen and (min-width: $tablet) {
        padding: 16px;
        min-height: 174px;
      }

      &::placeholder {
        font-family: "Oswald", "Arial", sans-serif;
        text-transform: uppercase;
        color: $special-dark-gray;
        font-size: 16px;
        line-height: 18px;

        @media screen and (min-width: $tablet) {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }

  &_checkbox {
    color: $special-dark-gray-2;
    padding-left: 45px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    transition-duration: 0.4s;
    height: 30px;

    @media screen and (min-width: $tablet) {
      height: 40px;
      padding-left: 45px;
    }

    &__text::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid $special-gray;
      left: 0;
      top: 0;
      transition: background 0.4s;

      @media screen and (min-width: $tablet) {
        width: 40px;
        height: 40px;
      }
    }

    &:hover, &:focus {
      .input-field_checkbox__text::before {
        border-color: #BABABA;
      }
    }

    &:active {
      opacity: 0.3;
    }

    input:checked + &__text::before {
      background-image: url("../img/icon-tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px 14px;
    }
  }
}
